<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35550399146-djr0insrjq7tkbsf7e7taslb4kv1amqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35550399146-djr0insrjq7tkbsf7e7taslb4kv1amqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCyyTF5spdGDhW-3fxc5b19gTJg6Eir0tk</string>
	<key>GCM_SENDER_ID</key>
	<string>35550399146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tmytrn.OurSpace</string>
	<key>PROJECT_ID</key>
	<string>ourspace-23c61</string>
	<key>STORAGE_BUCKET</key>
	<string>ourspace-23c61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35550399146:ios:0774d66d6b8918b8</string>
	<key>DATABASE_URL</key>
	<string>https://ourspace-23c61.firebaseio.com</string>
</dict>
</plist>